<br>
<table class="table">
    <thead>
        <tr>
            <th>imagen</th>
            <th>nombre</th>
            <th>tipo</th>
            <th>precio</th>
            <th>stock</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'table-warning': beer.oferta}">
            <td><img class="w-50" [src]="beer.image"[alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price}}</td>
            <td><span *ngIf="beer.oferta == true" class="badge bg-warning text-dark">Oferta!!</span> <span *ngIf="beer.stock == 0" class="badge bg-danger">Sin stock</span> <span *ngIf="beer.stock > 0" class="badge bg-success">Hay stock</span> </td>
        </tr>
    </tbody>
</table>
