<table class="table">
    <thead>
        <tr>
            <th>imagen</th>
            <th>nombre</th>
            <th>tipo</th>
            <th>precio</th>
            <th>stock</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img class="w-50" src="{{beer.image}}"alt="{{beer.name}}"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price}}</td>
            <td>{{beer.stock}}</td>    
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
